@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-VariableFont_wdth_wght.woff);

    font-family: Connection;
    src: url(fonts/ConnectionIi-2wj8.woff);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;                  /*  To make it takes up the entire page no matter what */
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;                  /*  To make it takes up the entire page no matter what */
    width: 100%;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(2px);    /* make the button looks like it's being pressed by shifting it down the Y-axis */
}

.icon {
    height: 24px;
    width: 24px;
}

svg {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

/*-----------------------------------------------------------------------------------------------*/

/* HEADER */
.header {
    grid-column: 2 / 3;

    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 0px 5px 5px lightgrey;
    z-index: 10;    /*z-index property in CSS controls the stacking order of elements, determining which elements appear on top of others when they overlap. */
}

    /* HEADER-above */
.header_above {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.header_above_1 {
    display: grid;
    grid-template-columns: 50px 500px;
}

.search_icon {
    grid-column: 1;
    border: none;
    background-color: transparent;
}

.search_icon .magnify {
    height: 25px;
    width: 25px;
    padding: 12px 25px 0px 25px;
}

.search_bar {
    grid-column: 2;

    height: 25px;
    width: 600px;
    border: 1px solid lightgrey;
    margin: 10px 0px 10px 10px;
    padding: 5px;
    background-color: #e6e9ed;
    border-radius: 25px;
    font-family: Connection, sans-serif;
    font-size: 14px;
}

.search_bar:hover {
    background-color: white;
}

.header_above_2 {
    display: grid;
    grid-template-columns: 50px 50px 250px;
}

.bell_button {
    border: none;
    grid-column: 1;
    background-color: white;
}

.bell_icon {
    height: 25px;
    width: 25px;
}

.header_logo_above {
    grid-column: 2;

}

.header_logo_above .profile_image {
    height: 35px;
    width: 35px;
    margin: 10px 10px 0px 5px;
}

.name_above {
    grid-column: 3;
    font-family: Connection, sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 15px;
}


    /* HEADER-below */
.header_below {
    display: grid;
    grid-template-columns: 100px 700px 500px;
    grid-template-rows: 50px 50px;
}

.header_logo_below {
    grid-column: 1;
    grid-row: 1/ -1;
}

.header_logo_below .profile_image {
    height: 70px;
    width: 70px;

    margin-top: 15px;
    margin-left: 35px;
}

.header_greetings, .name_below{
    grid-column: 2;
    font-family: Connection, sans-serif;
    font-weight: bold;
    margin-left: 15px;
}

.header_greetings {
    padding-top: 20px;;
}

.name_below {
    font-size: 18px;
}
.header_menu {
    grid-column: 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu_button {
    border: 3px solid black;
    font-size: 16px;
    font-weight: bold;
    color: whitesmoke;
    background-color:#eb8f34 ;
    font-family: Connection, sans-serif;

    height: 35px;
    width: 125px;
}

.menu_button:hover {
    background-color: #f39c4d;
}

.menu_button:active {
    background-color: #d67528;
}


/*--------------------------------------------------------------------------------------------------------------*/

/* SIDEBAR */
.sidebar {
    border: transparent;
    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 1fr 2fr 2fr;

    background-color: #eb8f34;
    color: white;
    font-family: Connection, sans-serif;
    font-weight: bold;
}

.sidebar_logo {
    grid-row: 1;

    font-size: 24px;
    padding-left: 15px;
    padding-top: 15px;

    display: flex;                     /*To align the logo, just use flex when needed */
    align-items: center;
    gap:10px;                         /*gap between the logo and the words */
}

.sidebar .dashboard_logo {
    width: 48px;
    height: 48px;
}

.sidebar_1 {
    grid-row: 2;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 50px;
    padding-top: 20px;
}

.sidebar_2 {
    grid-row: 3;

    display: grid;
    grid-template-rows: 50px 50px 50px;
    padding-left: 50px;
    padding-top: 20px;
}

.sidebar_button {
    border: none;
    font-family: Connection, sans-serif;
    font-weight: bold;
    background-color: transparent;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 18px;

    display: flex;
    align-items: center;
    gap: 10px;
    
}


/*-----------------------------------------------------------------------------------------------------------------------------*/

/* MAIN-CONTENT - cards */
.main_content {
    grid-column: 2;

    display: grid;
    grid-template-columns: 3fr 1fr;

    gap: 15px;
    background-color: whitesmoke;
}

.main_content,.social {
    padding-bottom: 30px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr;

    gap: 15px;
    margin-left: 20px;
}

.projects_title {
    grid-row: 1;
    grid-column: 1 / -1;

    font-family: Connection, sans-serif;
    font-weight: bold;
    padding-top: 20px;
    font-size: 18px;
}

.title {
    font-family: Connection, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.card {
    border: 1px solid black;
    width: 350px;
    height: 150px;
    font-family: Roboto, sans-serif;
    background-color: white;

    padding: 20px 30px 20px 30px;
    box-shadow: 3px 3px 5px grey ,-8px -8px orange;

}

/* MAIN-CONTENT - social */
.social {
    margin-right: 15px;
}
.Announcements {
    box-shadow: -5px -5px 5px grey;
}
.announcements_title {
    font-family: Connection, sans-serif;
    font-weight: bold;
    font-size: 18px;
    
    padding-bottom: 15px;
    padding-top: 25px;

}

.notifications {
    border: 1px solid black;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    background-color: white;

    padding: 25px 35px 10px 35px;
}

.notifications_title {
    font-family: Connection, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.trending {
    font-family: Connection, sans-serif;
    font-weight: bold;
    font-size: 18px;

    padding-top: 25px;
    padding-bottom: 5px;

}

.trending_guy {
    border: 1px solid black;
    font-family: Roboto, sans-serif;
    background-color: white;
    box-shadow: -5px -5px 5px lightgrey;

    margin-top: 5px;
    display: grid;
    grid-template-columns: 75px 200px;
    grid-template-rows: 25px 25px;
    gap: 10px;
}

.trending_guy_pic {
    grid-column: 1;
    grid-row: 1/-1;

    margin-top: -5px;    /* Moves the SVGs 10px upward */
}
.trending_guy_name, .trending_guy_title {
    grid-column: 2;
}

.trending_guy_name {
    margin-bottom: 10px;
    font-family: Connection, sans-serif;
    font-size: 14px;
    margin-top: 5px;

    grid-row: 1;
}

.trending_guy_title {
    font-family: Roboto, sans-serif;
    color: #ebb134;
    font-size: 16px;
    grid-row: 2;
}